.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin: 6px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
}

.Gif img{
    object-fit: contain;
}