.Gif{
    cursor: pointer;
}

.Gif img{
    width: 100%;
    max-width: 85vh ;
}

.Gif:hover h4{
    color: orange;
}

.Gif div{
    position: relative;
}

.Gif h4 {
    background: rgba(0, 0, 0, .3);
    bottom: 0px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
}