:root{
    --results-columns: 2;
}

.ListOfGifs{
    margin-top: .5em;
    column-count: var(--results-columns);
    column-gap: .5em;
    min-height: 100vh;
}

.ListOfGifs-item {
    -webkit-columns-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10 */
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 900px){
    :root{
        --results-columns: 3;
    }
}